{# This snippet creates an Additional Info Table

extras is a list of tuples of the form (key, value)

#}
{% if extras %}
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for extra in extras %}
        {% set key, value = extra %}
        <tr rel="dc:relation" resource="_:extra{{ i }}">
          <th scope="row" class="dataset-label label-default" property="rdfs:label">{{ _(key) }}</th>
          <td class="dataset-details" property="rdf:value">{{ value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
