<section class="module module-narrow module-shallow disqus-trackback simple-input">
  <h2 class="module-heading"><i class=" icon-link"></i> {{ _('Trackback URL') }}</h2>
  <div class="field module-content"><input type="text" value="http://trackback.com" /></div>
</section>
