<section class="module module-narrow subscribe">
<h2 class="module-heading"><i class=" icon-rss"></i> {{ _('Subscribe') }}</h2>
  <ul class="nav nav-simple">
    <li class="nav-item"><a href="#"><i class="ckan-icon ckan-icon-email"></i> {{ _('Email') }}</a></li>
    <li class="nav-item"><a href="#"><i class="ckan-icon ckan-icon-feed"></i> {{ _('RSS') }}</a></li>
  </ul>
</section>
