<div class="module-content">
  <div class="alert alert-block">
    {{ _('No preview available.') }}
    <button class="btn btn-default btn btn-default-link" data-toggle="collapse" data-target="#details">
      <i class="icon-info"></i> {{ _('More details...') }}
    </button>
    <div id="details" class="collapse">
      {% if reason %}
        {{ reason }}
      {% else %}
        {% set t = '<code>'|safe + resource_type + '</code>'|safe %}
        {{ gettext('No handler defined for data type: %(type)s.', type=t) }}
      {% endif %}
  	</div>
  </div>
</div>
