{%- if vars.item.url == '#' -%}
    <div>
        <h4>
            {%- if vars.item.link -%}
                <a href="{{-vars.item.link-}}" alt="{{-vars.item.name-}}">
            {%- endif -%}
{%- else -%}
    <li id="menu-item-{{ vars.item.id }}" class="menu-item menu-item-type-post_type menu-item-object-page {{ 'has-submenu ' if vars.item.children | length > 0 }}menu-item-{{ vars.item.id }}">
        <a href="{{ vars.item.url }}">
{%- endif -%}

            {{- vars.item.name -}}

{%- if vars.item.url == '#' -%}
            {%- if vars.item.link -%}
                </a>
            {%- endif -%}
        </h4>
{%- else -%}
        </a>
{%- endif -%}

{%- if vars.item.children -%}
    {%- if vars.item.parent == '0' -%}
        <div class="mainmenu-submenu">
            <div class="mainmenu-submenu-inner">
    {%- else -%}
            <ul class="sub-menu">
    {%- endif -%}


        {{- vars.menu.add_children(vars.item.children) }}


    {%- if vars.item.parent == '0' -%}
            </div>
        </div>
    {%- else -%}
        </ul>
    {%- endif -%}
{%- endif -%}


{%- if vars.item.url == '#' -%}
    </div>
{%- else -%}
    </li>
{%- endif -%}