{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
  <section class="module col-md-6 col-md-offset-3">
    <div class="module-content">
      {% block form %}
        <p>{{ _('Are you sure you want to delete organization - {name}?').format(name=c.group_dict.name) }}</p>
        <p class="">
          <form action="{% url_for controller='organization', action='delete', id=c.group_dict.name %}" method="post">
            <button class="btn btn-default" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-default btn btn-default-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
    </div>
  </section>
{% endblock %}
