<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource can be any file or link to a file containing useful data.') }}</p>
  </div>
</section>
