<li><a class="btn btn-default" href="#"><i class="icon-wrench"></i> Button</a></li>
<li><a class="btn btn-default btn btn-default-primary" href="#"><i class="icon-wrench"></i> Primary Button</a></li>
