<section class="module module-narrow">
  {% with items=(("First", true), ("Second", false), ("Third", true), ("Fourth", false), ("Last", false)) %}
    <h2 class="module-heading"><i class=" icon-filter"></i>  Facet List</h2>
    <nav>
      <ul class="list-unstyled nav nav-simple nav-facet">
        {% for value, active in items %}
          <li class="nav-item{{ ' active' if active }}"><a href="#">{{ value }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <p class="module-footer">
      <a href="#" class="read-more">Read More</a>
    </p>
  {% endwith %}
</section>
