<section class="module module-narrow">
  {% with items=(("First", false), ("Second", true), ("Third", true), ("Fourth", false), ("Last", false)) %}
    <h1 class="module-heading">{{ heading }}</h1>
    <nav>
      <ul class="list-unstyled simple-list">
        {% for value, active in items %}
          <li>
            {% if show_icons %}<i class="icon-cog"></i> {% endif %}{{ value }}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endwith %}
</section>
