{% with classes = classes or [], hn = heading_level or 1 %}
  <section class="module{{ ' ' ~ classes|join(' ') if classes }}"|join(' ') if classes }}">
    {% if heading_link %}
      <h{{ hn }} class="module-heading"><a href="#">{{ heading }}</a></h{{ hn }}>
    {% elif heading_action %}
      <h{{ hn }} class="module-heading">{{ heading }}</h{{ hn }}>
    {% elif heading_icon %}
      <h{{ hn }} class="module-heading"><i class=" icon-wrench"></i> {{ heading }}</h{{ hn }}>
    {% else %}
      <h{{ hn }} class="module-heading">{{ heading }}</h{{ hn }}>
    {% endif %}
    <div class="module-content">
      {{ lipsum(1) }}
    </div>
    {% if footer %}
      <p class="module-footer">
        <a class="read-more" href="#">Another Link</a>
      </p>
    {% endif %}
  </section>
{% endwith %}
