<section class="module module-narrow">
  {% with items=(("First", true), ("Second", false), ("Third", true), ("Fourth", false), ("Last", false)) %}
    <h2 class="module-heading">{{ heading }}</h2>
    <nav>
      <ul class="list-unstyled nav nav-simple">
        {% for value, active in items %}
          <li class="nav-item{{ ' active' if show_active and active }}">
            <a href="#">{% if show_icons %}<i class="icon-cog"></i> {% endif %}{{ value }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endwith %}
</section>
