<section class="module module-narrow module-shallow simple-input">
  <h2 class="module-heading"><i class=" icon-link"></i> Module Narrow Input</h2>
  <div class="module-content field"><input type="text" value="simple-input" /></div>
</section>
