{% import 'macros/form.html' as form %}

<form class="dataset-form dataset-resource-form form-horizontal" method="post" data-module="basic-form">

  {{ form.errors(error_summary) }}

  <input type="hidden" name="group_name" value="{{ group_dict.name }}"/>
  {% snippet 'group/snippets/revisions_table.html', group_dict=group_dict, group_revisions=group_revisions %}

  <button class="btn btn-default btn btn-default-primary" name="diff" value="go-resources" type="submit">{{ _('Compare') }}</button>

</form>