{% import 'macros/form.html' as form %}

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>{{ _('Revision') }}</th>
      <th>{{ _('Timestamp') }}</th>
      <th>{{ _('Author') }}</th>
      <th>{{ _('Log Message') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for rev in group_revisions %}
      <tr>
        <td nowrap="nowrap">
          {{ h.radio('selected1', rev.id, checked=(loop.first)) }}
          {{ h.radio('selected2', rev.id, checked=(loop.last)) }}
        </td>
        <td class="dataset-label label-default">
          {% link_for rev.id | truncate(6), controller='revision', action='read', id=rev.id %}
        </td>
        <td class="dataset-details">
          {{ h.render_datetime(rev.timestamp, with_hours=True) }}
        </td>
        <td class="dataset-details">{{ h.linked_user(rev.author) }}</td>
        <td class="dataset-details">{{ rev.message }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>