<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        CKAN Organizations are used to create, manage and publish collections
        of datasets. Users can have different roles within an Organization,
        depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
  </div>
</div>