{#
Displays a sidebard module with information for given organization

org    - The organization dict.

Example:

  {% snippet "organization/snippets/info.html", org=org %}

#}
{% if organization and h.check_access('organization_update', {'id':organization.id }) %}
  <section class="module module-narrow package-info">
    <h2 class="module-heading"><i class="icon-sitemap"></i> {{ _("Edit Organization") }}</h2>
    <ul class="list-unstyled nav nav-simple">
      <li class="nav-item{% if action == 'edit' %} active{% endif %}">
        {% link_for _("Edit Organization"), controller='organization', action='edit', id=organization.name %}
      </li>
    </ul>
  </section>
{% endif %}