<div id="tableau"></div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        jQuery(document).ready(function () {
            var host_url = '{{vars.host_url}}';
            jQuery.getScript(host_url + 'javascripts/api/tableau_v8.js')
                    .done(function () {
                        var viz = new tableauSoftware.Viz(
                                $('#tableau')[0],
                                '{{vars.url}}',
                                {
                                    hideTabs: true,
                                    hideToolbar: true,
                                    onFirstInteractive: function () {
                                        workbook = viz.getWorkbook();
                                        activeSheet = workbook.getActiveSheet();
                                        viz.setFrameSize();
                                    }
                                }
                        );
                    })
                    .fail(function (jqxhr, settings, exception) {
                        console.log(jqxhr, settings, exception);
                    });
        });
    });
</script>