{% extends "page.html" %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Datasets'), controller='package', action='search') }}</li>
  <li><a href="{{ h.url_for(controller='package', action='read', id=c.pkg_dict.name) }}" title="{{ c.pkg_dict.title or c.pkg_dict.name }}">{{ h.truncate(c.pkg_dict.title or c.pkg_dict.name, 60) }}</a></li>
  <li class="active">{% block breadcrumb_item %}{% endblock %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Related Form') }}{% endblock %}</h1>
      {{ c.form | safe }}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-info"></i> {{ _('What are related items?') }}</h2>
    <div class="module-content">
      {% trans %}
        <p>Related Media is any app, article, visualisation or idea related to
        this dataset.</p>

        <p>For example, it could be a custom visualisation, pictograph
        or bar chart, an app using all or part of the data or even a news story
        that references this dataset.</p>
      {% endtrans %}
    </div>
  </section>
{% endblock %}
