{% extends "admin/base.html" %}

{% block subtitle %}{{ _("Confirm Reset") }}{% endblock %}

{% block primary_content_inner %}
  <form action="{% url_for controller='admin', action='reset_config' %}" method="post">
    <p>{{ _('Are you sure you want to reset the config?') }}</p>
    <p class="">
      <button class="btn btn-default" type="submit" name="cancel" >{{ _('Cancel') }}</button>
      <button class="btn btn-default btn btn-default-primary" type="submit" name="delete" >{{ _('Confirm Reset') }}</button>
    </p>
  </form>
{% endblock %}
