{%- block doctype %}<!DOCTYPE html>{% endblock -%}

{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

  <head{% block headtag %}{% endblock %}>
    {%- block meta -%}
      <meta charset="utf-8" />
      {% block meta_generator %}
        <meta name="generator" content="ckan {{ c.__version__ }}" />
        {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {%- endblock -%}

    <title>
      {%- block title -%}
        {%- block subtitle %}{% endblock -%}
        {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
        {{ g.site_title }}
      {%- endblock -%}
    </title>

    {% block links -%}
      <link rel="shortcut icon" href="{{ g.favicon }}" />
    {% endblock -%}

    {%- block styles %}
      {#% resource g.main_css[6:] %#}
      <link rel="stylesheet" id="main.min.css-css" href="{{h.header.website_url}}/css/main.min.css" type="text/css" media="all">
    {% endblock %}

    {% block head_extras %}
      {{ g.template_head_end | safe }}
    {% endblock %}

    {%- block custom_styles %}
      {%- if g.site_custom_css -%}
      <style>
        {{ g.site_custom_css | safe }}
      </style>
      {%- endif %}
    {% endblock %}
  </head>

  <body{% block bodytag %} data-site-root="{{ h.url('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url('/', qualified=true) }}" {% endblock %}>

    {%- block page %}{% endblock -%}

    {%- block scripts %}
      <script type="text/javascript" src="{{h.header.website_url}}/js/main.min.js"></script>
    {% endblock -%}

    {% block body_extras -%}
      {{ g.template_footer_end | safe }}
    {%- endblock %}
  </body>
</html>