<footer class="footer">
  <div class="container">
    {% block footer_content %}
      <nav class="footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}{% endblock %}
          </ul>
          <ul class="list-unstyled">
            {% block footer_links_ckan %}{% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <div class="attribution">
        {% block footer_attribution %}{% endblock %}
        {% block footer_lang %}{% endblock %}
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
