<div class="popover-context profile-info">
  {% if notes != 'null' %}
    {% set notes = notes|striptags %}
    <p class="about">
      {{ h.truncate(notes, length=160, whole_word=True) }}
    </p>
  {% endif %}
  <div class="btn btn-default-group">
    {{ h.follow_button('dataset', id) }}
  </div>
  <div class="nums">
    <dl>
      <dt>{{ _('Resources') }}</dt>
      <dd>{{ h.SI_number_span(num_resources) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Tags') }}</dt>
      <dd>{{ h.SI_number_span(num_tags) }}</dd>
    </dl>
  </div>
</div>
