<div class="context-info">
  {% if about != 'null' %}
    {% set about = about|striptags %}
    <p class="about">
      {{ h.truncate(about, length=160, whole_word=True) }}
    </p>
  {% endif %}
  <div class="btn btn-default-group">
    {% if is_me == 'false' %}
      {{ h.follow_button('user', id) }}
    {% endif %}
  </div>
  <div class="nums">
    <dl>
      <dt>{{ _('Followers') }}</dt>
      <dd>{{ h.SI_number_span(num_followers) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(number_created_packages) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Edits') }}</dt>
      <dd>{{ h.SI_number_span(number_of_edits) }}</dd>
    </dl>
  </div>
</div>
