{% extends "page.html" %}
{% import "macros/form.html" as form %}

{% block subtitle %}{{ _('Reset Your Password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ _('Password Reset') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    {% block primary_content_inner %}
    <h1 class="module-heading">
      {% block page_heading %}{{ _('Reset Your Password') }}{% endblock %}
    </h1>
    <div class="module-content">
      {% block form %}
        <form class="form-horizontal" action="" method="post">
          {{ form.errors(error_summary) }}
          {{ form.input("password1", id="field-password", label=_("Password"), type="password", value='', error='', attrs={'autocomplete': 'no'}, classes=["control-medium"]) }}
          {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", value='', error='', attrs={'autocomplete': 'no'}, classes=["control-medium"]) }}
          <div class="">
            {% block form_button %}
            <button class="btn btn-default btn btn-default-primary" type="submit" name="save">{{ _("Update Password") }}</button>
            {% endblock %}
          </div>
        </form>
      {% endblock %}
    </div>
    {% endblock %}
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Simply enter a new password and we'll update your account{% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
