{% extends "page.html" %}

{% block subtitle %}{{ _('Reset your password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Password reset'), controller='user', action='request_reset' %}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">{{ _('Reset your password') }}</h1>
      {% block form %}
        <form action="" method="post" class="form-list-inline control-medium">
          <label for="field-username">{{ _('Username') }}</label>
          <input id="field-username" name="user" value="" type="text" />
          {% block form_button %}
          <button class="btn btn-default btn btn-default-primary" type="submit" name="reset">{{ _("Request reset") }}</button>
          {% endblock %}
        </form>
      {% endblock %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('How does this work?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Enter your username into the box and we will send you
      an email with a link to enter a new password.{% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
